/* Add your CSS to this file */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sana', sans-serif;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

header .container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1{
    padding-right: 300px;
    float: left;
    font-size: 18px;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a:hover{ 
    color: #5A67D8;
}

li a{ 
    padding: 10px;
    color: #6b7280;
    text-decoration: none;
}

.overview-hero{
    background-color: #E2E8F0;
}

.overview-hero .container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview-hero img{
    padding: 20px;
    height:150px;
    width: 200px;
}

.overview-hero-text{
    width: 580px;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
    padding-left: 25px; 
}

.cards{
    padding: 0px 25px 25px 25px;
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
}

.card{
    padding: 0px 10px 10px 10px;
    padding-bottom: 0;
    box-shadow: 0 3px #888888; 
    border-style: solid;
    border-radius: 5px;
    border-color: #E2E8F0;
}

.card-body h3{
    color: #48BB78;
    font-size: 21px;
}

.card img{
    height: 50%;
    width: 100%;
}

.testing{
    background-color: #4A5568;
    padding: 80px;
}

.testing .container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testing-desciption{
    padding-left: 15px;
    width:590px;
    color: white;
}

.cta{
    text-align: center;
    width: 200px;
    height: 45px;
}

.cta .btn{
    color: white;
    background-color: #48BB78;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none; 
}

.stories h2{
    color: #5A67D8;
}

article{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-body{
    padding: 20px;
}
.article-body h3{
    font-size: 18px;
}

.article-body a{
    color: #5A67D8;
    text-decoration: none;
}

article img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.newsletter{
    padding: 15px;
    text-align: center;
    background-color: #48BB78;
    color: white;
}

.newsletter p{
    padding: 0px 230px 0px 260px;
    text-align: left;
}

form button{
    border-style: none;
    outline-style: none;
    background-color: #5A67D8;
    border-radius: 5px;
    color: white;
    height: 45px;
    width: 150px;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form div{
    padding: 5px 5px 5px 0px;
}

.form-group input{
    border-style: none;
    outline-style: none;
    border-radius: 5px;
    height: 43px;
    width: 310px;
}

footer{
    padding: 10px;
    background-color: #4A5568;
    color: white;
}